.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FriendContainer {
  border: 2px solid  #26A69A;;
	padding: 10px;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 5px;
  width: 30%;
  font: Georgia;
}

.FriendFormContainer{
  background-color: #E0F2F1;
  width: 325px;
  height: 275px;
  margin: -588px 467px;
  overflow: auto;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,.75);  
}

input {
  color: #004D40;
  top: 100px;
  font-size: 1.25em;
  transition: all .2s ease;
  position: relative;
 } 

 .button-container {
  width: 75%;
  position: relative;
  margin: 45px auto -25px;
}

input[type="text"] {
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  padding: 0 14px 5px 0;
  color: #004D40;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #4DB6AC;
  outline: none;
  z-index: 20;
}

input[type="text"]:focus ~ label, input[type="text"]:valid ~ label {
  top: -60px;
}

input[type="submit"] {
  cursor: pointer;
  margin: auto;
  background-color: #4DB6AC;
  color: #E0F2F1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25em;
  padding: 10px;
  border: solid #009688;
  border-width: 0 0 4px 0;
  border-radius: 3px;
  outline: none;
}

input[type="submit"]:hover {
  background: #26A69A;
  border: solid #00897B;
  border-width: 0 0 4px 0;
}

input[type="submit"]:active {
  background: #009688;
  border: solid transparent;
  border-width: 0 0 0px 0;
}

 
